body {
background-color: #000;
color: #fff;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
/* font-family: Verdana,sans-serif; */
font-size: 0.8em;
}

#sidebar
{
	position:fixed;
	top:4.2em;
	left:7.5em;
	width:12em;
	list-style:none;
	font:bold 1.1em Verdana,sans-serif;
	margin:0;
	padding:0 1em 0 0;
}

#sidebar li
{
	color:#333;
	text-align:right;
	background-repeat:no-repeat;
	margin-bottom:1em;
	line-height:1.4em!important;
	list-style:none;
}

#sidebar li:hover
{
	color:#fff;
	cursor:pointer;
}

#sidebar li a:hover
{
	color:#fff;
	text-decoration:none;
}

#title
{
	font-size:150%;
	cursor:default;
}

#sidebar #title a:hover
{
	color:#fff;
}

#sidebar #storySubtitle
{
	font-size:75%;
	display:block;
}

#storyAuthor
{
	font-size:50%;
}

#sidebar #storyMenu
{
	display:none;
	line-height:2.5em;
	margin-bottom:.5em;
}

#sidebar #credits
{
	padding-top:2em;
	font-weight:400;
	font-size:80%;
	cursor:auto;
}

#sidebar #credits a
{
	text-decoration:none;
}

.menu
{
	position:absolute;
	display:none;
	background-color:#343434;
	color:#fff;
	opacity:.9;
	border:1px solid #fff;
	text-align:left;
	font:1.1em Verdana;
	line-height:2em;
}

.menu div
{
	padding:0 .4em;
}

.menu div:hover
{
	cursor:pointer;
	background-color:#fff;
	color:#343434;
}

.passage ul
{
	padding-top:1.3em;
	margin-left:.5em;
	padding-left:1.5em;
}

.passage li
{
	margin-right:6em;
}

a.internalLink,a.externalLink,a.back,a.return
{
	color:#4d6ad8;
	font-weight:700;
	text-decoration:none;
}

a.internalLink:hover,a.externalLink:hover,a.back:hover,a.return:hover
{
	color:#8ea6ff;
	text-decoration:underline;
}

a.brokenLink
{
	background-color:red;
	text-decoration:none;
	color:#000;
}

.marked
{
	background-color:red;
	color:#000;
	margin-right:12px;
	padding:3px;
	font-size: 12px;
	line-height: 12px;
}

.passage ol
{
	margin-left:.5em;
	padding-left:1.5em;
}

.passage table
{
	border-collapse:collapse;
	font-size:100%;
	margin:.8em 1em;
}

.passage th,.passage td,.passage tr,.passage caption
{
	padding:3px;
}

.passage hr
{
	height:1px;
}

#storeArea
{
	display:none;
}

#sidebar li a,#sidebar #credits:hover
{
	color:#333;
}

#sidebar #title a,#sidebar #title:hover
{
	color:#999;
}